pytorch-lightning==1.1
seaborn
pandas
jupyterlab
torchaudio 
torchvision 
streamlit
sentencepiece
prefetch_generator
soundfile
librosa
pyvad
six
fire
hydra_core
omegaconf
matplotlib
seaborn
loguru
onnx
pandarallel
onnxruntime
