pytorch-lightning==1.2.0
torchvision
torchaudio 
streamlit
jupyterlab
pandas 
sentencepiece
prefetch_generator
soundfile
librosa
pyvad
six
fire
hydra_core
omegaconf
matplotlib 
seaborn 
loguru
onnx
onnxruntime
seaborn
pandarallel
h5py
webrtcvad
