seaborn
pandas
jupyterlab
torchaudio 
torchversion 
streamlit
sentencepiece
prefetch_generator
soundfile
librosa
pyvad
six
fire
hydra_core
omegaconf
matplotlib
seaborn
loguru
onnx
pandarallel
onnxruntime
